body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

header {
    background: #0a3d62;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 15px;
    color: #0a3d62;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #0a3d62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #07507f;
}

.result {
    text-align: center;
}

#crowdBox {
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 150px;
}

.low {
    background: green;
}

.medium {
    background: orange;
}

.high {
    background: red;
}

footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
}
